out/
noob-dungeon-crawler.iml
.gradle/vcs-1/gc.properties
.gradle/4.10/gc.properties
.gradle/4.10/fileHashes/fileHashes.lock
.gradle/4.10/fileHashes/fileHashes.bin
.gradle/4.10/fileChanges/last-build.bin
